*/.idea/*
.idea/*
*/.vscode/*
.vscode/*
utils/bags/*
src/*.pyc
*/cmake-build-debug
geodetic_survey_bags/*.bag

devel/
install/
logs/
log/
build/
bin/
lib/
msg_gen/
srv_gen/
build_isolated/
devel_isolated/

*.pyc

#QT files
*.files
*.includes
*.creator
*.user
*.config

# Logs geodetic surveys
/piksi_multi_rtk_ros/log_surveys/

# KML files.
/kml/*

# Kernel modules
*.ko*
*.mod*
*.o*
*.symvers
*.order

*libraries*

# Catkin custom files
CATKIN_IGNORE